section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 250px;
  background-color: #f9f9f9;
  border-bottom: solid;
  border-bottom-color: #0f0f1033;
  border-bottom-width: thin;
}

section h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 4px;
}

section p {
  font-size: 16px;
  color: #6b7280; /* серый */
  margin: 0;
}

.searchContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchBox {
  position: relative;
  width: 508px;
}

.iconSearch {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #9ca3af;
}

.searchBox input[type='search'] {
  width: 100%;
  font-size: 15px;
  padding: 10px 12px 10px 36px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  background-color: #f9f9f9;
}

.searchButton {
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.searchButton:hover {
  background-color: #2563eb;
}
