.wrapper {
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    max-width: 317px;
    width: 100%;
}
.input::placeholder {
    color: #A0A0A0;
}

.dropdown {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}